
<div class="row" style="margin-top:100px;">

  <div class="col-md-4 center">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="col-md-4 center">
    <h4>Please Login</h4>
  </div>
  
  <%= form_tag "/authenticate", method: :post do %>
    <div class="col-md-4 center">
      <%= text_field_tag "card_number", nil, placeholder: "enter your card number", maxlength: 9, class: "form-control" %>
    </div>
    <div class="col-md-4 center">
      <%= text_field_tag "pin", nil, placeholder: "enter your 4 digit pin", maxlength: 4, class: "form-control" %>
    </div>
    <div class="col-md-4 center">
      <%= submit_tag "Login", class: "btn btn-primary" %>
    </div>
  <% end %>

  <div class="col-md-4 center"></div>

</div>
