<div class="row" style="margin-top:100px;">

  <div class="col-md-4 center">
    <% flash.each do |name, msg| %>
      <% if msg.is_a?(String) %>
        <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
          <a class="close" data-dismiss="alert">&#215;</a>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="col-md-4 center">
    <h4>Please Login</h4>
  </div>

  <div class="col-md-4 center">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="col-md-4 center">
        <%= f.text_field :card_number, autofocus: true, class: 'form-control', style: 'width:200px' %>
      </div>

      <div class="col-md-4 center">
        <%= f.password_field :pin, autocomplete: 'off', class: 'form-control', style: 'width:200px' %>
      </div>

      <div class="col-md-4 center"><%= f.submit 'Sign in', class: 'btn btn-primary' %></div>
    <% end %>
  </div>
  
  <div class="col-md-4 center"></div>

</div>